{{ define "content" }}

<!-- Header -->
<div class="flex flex-col md:flex-row justify-between items-center w-full py-5">
  <h1 class="text-2xl p-5 font-bold">JSON</h1>
</div>

<!-- Messages -->
{{ template "flash" .messages }}

<div class="container mx-auto px-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row gap-2 mb-4">
      <label class="input input-bordered flex items-center gap-2">
        Search
        <input
          type="text"
          class="grow outline-none border-none focus:border-none focus:ring-0"
          id="searchInput"
        />
      </label>

      <label class="input input-bordered flex items-center gap-2">
        Tags
        <input
          type="text"
          class="grow outline-none border-none focus:border-none focus:ring-0"
          id="tagsInput"
        />
      </label>

      <label class="input input-bordered flex items-center gap-2">
        Offset
        <input
          type="number"
          class="outline-none border-none focus:border-none focus:ring-0 focus:outline-none md:w-16 w-full -mr-2"
          id="offset"
        />
      </label>

      <label class="input input-bordered flex items-center gap-2">
        Limit
        <input
          type="number"
          class="outline-none border-none focus:border-none focus:ring-0 focus:outline-none md:w-16 w-full -mr-2"
          id="limit"
        />
      </label>

      <select
        id="sortSelect"
        class="select select-bordered"
      >
        <option value="">Sort By</option>
        <option value="created_at_desc">Date Descending</option>
        <option value="created_at_asc">Date Ascending</option>
      </select>

      <select
        id="typeSelect"
        class="select select-bordered"
      >
        <option value="">Type</option>
        <option value="image">Image</option>
        <option value="video">Video</option>
      </select>
    </div>

    <div class="mb-4 flex justify-between items-center bg-base-200 p-4 rounded">
      <code
        id="dynamicUrl"
        class="flex-grow"
        >http://localhost:8090/data.json</code
      >
      <button
        id="copyButton"
        class="btn btn-ghost btn-sm ml-4"
        onclick="copyToClipboard()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-clipboard-copy"
        >
          <rect
            width="8"
            height="4"
            x="8"
            y="2"
            rx="1"
            ry="1"
          />
          <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
          <path d="M16 4h2a2 2 0 0 1 2 2v4" />
          <path d="M21 14H11" />
          <path d="m15 10-4 4 4 4" />
        </svg>
      </button>
    </div>
  </div>

  <div
    id="jsonMedia"
    class="container mx-auto px-4"
  >
    <div class="flex mt-8">
      <div class="w-2/3 pr-2">
        <p class="font-bold mb-3">JSON Preview</p>
        <div class="bg-base-200 p-4 rounded flex flex-col gap-4">
          <div class="skeleton h-4 w-28"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-28"></div>
          <div class="skeleton h-4 w-28"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-28"></div>
        </div>
      </div>

      <div class="w-1/3 pl-2">
        <p class="font-bold mb-3">Media</p>
        <div class="grid grid-cols-1 gap-4">
          <div class="skeleton h-72 w-full"></div>
          <div class="skeleton h-72 w-full"></div>
        </div>
      </div>
    </div>

    <script>
      // Initial Options Matching the Go Struct
      let options = {
        limit: "",
        offset: "",
        sort: "",
        order: "",
        search: "",
        tags: "",
        type: "",
        id: "",
      };

      // Dynamically update the URL
      let currentURL = window.location.href;
      let adminPathIndex = currentURL.indexOf("/admin/") + 7;
      let adminBaseURL = currentURL.substring(0, adminPathIndex);
      let baseURL = currentURL.substring(0, adminPathIndex - 6);
      let urlParams = "";

      document.addEventListener("DOMContentLoaded", () => {
        function debounce(func, wait) {
          let timeout;
          return function executedFunction(...args) {
            const later = () => {
              clearTimeout(timeout);
              func(...args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
          };
        }

        // Function to fetch the page fragment and display it
        async function fetchAndDisplayJsonAndMedia() {
          let dynamicUrl = `${adminBaseURL}json/preview?${urlParams}`;
          try {
            const response = await fetch(dynamicUrl);
            // Replace #jsonMedia with the response, which is not a JSON
            if (!response.ok) throw new Error("Network response was not ok.");
            const text = await response.text();
            document.getElementById("jsonMedia").outerHTML = text;
          } catch (error) {
            // replace #jsonMedia with the error message
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
            document.getElementById(
              "jsonMedia"
            ).innerHTML = `<div role="alert" class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>${error.message}</span>
        </div>`;
          }
        }

        // Modified updateDynamicUrl to include debounce
        const debouncedFetchAndDisplayJson = debounce(
          fetchAndDisplayJsonAndMedia,
          500
        ); // 500 ms debounce period

        // Elements that should trigger URL update on change
        const elementsToUpdateURL = document.querySelectorAll(
          "#searchInput, #limit, #offset, #sortSelect, #typeSelect, #tagsInput"
        );

        elementsToUpdateURL.forEach((element) => {
          element.addEventListener("input", updateDynamicUrl); // For text/number inputs
          element.addEventListener("change", updateDynamicUrl); // For dropdown changes
        });

        function updateDynamicUrl() {
          // Ensure options are always up to date
          options.search = document.getElementById("searchInput").value;
          options.limit = document.getElementById("limit").value;
          options.offset = document.getElementById("offset").value;
          options.type = document.getElementById("typeSelect").value;
          const sortValue = document.getElementById("sortSelect").value;
          if (sortValue) {
            const lastUnderscoreIndex = sortValue.lastIndexOf("_");
            if (lastUnderscoreIndex > -1) {
              options.sort = sortValue.substring(0, lastUnderscoreIndex); // Get everything before the last "_"
              options.order = sortValue.substring(lastUnderscoreIndex + 1); // Get everything after the last "_"
            } else {
              options.sort = sortValue;
              options.order = ""; // Default order if "_" is not present
            }
          } else {
            options.sort = "";
            options.order = "";
          }
          options.tags = document.getElementById("tagsInput").value;

          // Filter out options with empty values
          let filteredOptions = Object.entries(options).reduce(
            (acc, [key, value]) => {
              if (value) acc[key] = value; // Include only non-empty values
              return acc;
            },
            {}
          );

          urlParams = new URLSearchParams(filteredOptions).toString();
          document.getElementById(
            "dynamicUrl"
          ).textContent = `${baseURL}data.json?${urlParams}`;

          debouncedFetchAndDisplayJson();
        }

        // Initialize with the current state
        updateDynamicUrl();
      });

      function copyToClipboard(id = "") {
        let textToCopy = "";
        if (!id) {
          textToCopy = document.getElementById("dynamicUrl").textContent;
        } else {
          textToCopy = document.querySelector(id).textContent;
        }
        navigator.clipboard.writeText(textToCopy).then(
          () => {
            alert("Copied!");
          },
          () => {
            alert("Failed to copy");
          }
        );

        function debounce(func, wait) {
          let timeout;
          return function executedFunction(...args) {
            const later = () => {
              clearTimeout(timeout);
              func(...args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
          };
        }
      }
    </script>
    {{ end }}
  </div>
</div>
